# Copyright 2020 Evan Miller
# Copyright 2020 Matt Borland
# Distributed under the Boost Software License, Version 1.0.
# (See accompanying file LICENSE_1_0.txt or copy at http://boost.org/LICENSE_1_0.txt)


name: CI
on: [ push, pull_request ]
jobs:
  ppc64le:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2.1.0
      - uses: uraimo/run-on-arch-action@v2.0.5
        name: Run commands
        id: runcmd
        with:
          arch: armv7
          distro: ubuntu18.04

          # Not required, but speeds up builds by storing container images in
          # a GitHub package registry.
          #githubToken: ${{ github.token }}

          # Set an output parameter `uname` for use in subsequent steps
          run: |
            uname -a
            apt update
            apt -y install gcc g++ git python
            echo $PWD
            math=$PWD
            cd ..
            git clone -b develop --depth 1 https://github.com/boostorg/boost.git boost-root
            cd boost-root
            rm -rf libs/math/*
            cp -r $math/* libs/math
            git submodule update --init tools/boostdep
            python tools/boostdep/depinst/depinst.py math
            ./bootstrap.sh
            ./b2 headers
            ./b2 libs/config/test//print_config_info libs/config/test//print_math_info
            g++ -I. -g -std=c++14 t.cpp -o t
            ./t

      - name: Get the output
        # Echo the `uname` output parameter from the `runcmd` step
        run: |
          echo "The uname output was ${{ steps.runcmd.outputs.uname }}"
